#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp KB_N0   &kp KB_N1   &kp KB_N2
                &kp KB_N3   &kp KB_N4   &kp KB_N5
                &kp KB_N6   &kp KB_N7   &kp KB_N8
            >;
        };
    };
};