#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan1;
        // zmk,matrix-transform = &default_transform;
    };

    // kscan1: kscan {
    //     compatible = "zmk,kscan-gpio-direct";
    //     label = "kscan1";

    //     input-gpios =
    //         <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
    //         <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
	// 	;
    // };

    kscan1: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "kscan1";

        input-gpios =
            <&ext0 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&ext0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    // default_transform: matrix_transform {
    //     compatible = "zmk,matrix-transform";
    //     rows = <3>;
    //     columns = <3>;

    //     map = <
    //         RC(0,0) RC(0,1) RC(0,2)
    //         RC(1,0) RC(1,1) RC(1,2)
    //         RC(2,0) RC(2,1) RC(2,2)
    //     >;
    // };
};


&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    ext0: mcp23017@20 {
        compatible = "microchip,mcp230xx";
        status = "okay";
        gpio-controller;
        reg = <0x20>;
        #gpio-cells = <2>;
        ngpios = <16>;
    };
};