/ {
    chosen {
			zmk,kscan = &kscan1;
    };

     kscan1: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "kscan1";

        input-gpios =
            <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
    };
	};
